# Aplicando el operador de rezagos a datos ficticios

*Material del curso EC4301 Macroeconometría*

Universidad de Costa Rica

**Profesor:  Randall Romero Aguilar**

Actualizado: 2021-Jun-09

Ejemplo numérico para ilustrar el uso de los operadores de rezago, diferencia, y diferencia estacional.

## Cargar paquetes necesarios

In [1]:
import pandas as pd

## Importar los datos

* Leer una serie de tiempo ficticia de data\LandD.csv y mostrarlos

In [2]:
datos = pd.read_csv('LandD.csv', index_col=0, parse_dates=True)
datos.columns

Index(['y'], dtype='object')

## Obtener las series transformadas

* Operador de rezagos

In [3]:
datos['Lag_y'] = datos['y'].shift(1)
datos['Lag2_y'] = datos['y'].shift(2)

* Operador de diferencias
\begin{align}
\Delta y_t &= (1-L)y_t = y_t - y_{t-1} \\
\Delta^2 y_t &= (1-L)^2y_t = y_t - 2y_{t-1} + y_{t-2}
\end{align}

In [4]:
datos['D_y'] = datos.y.diff()
datos['D2_y'] = datos.y.diff(1).diff(1)

* Operador de diferencia estacional

\begin{equation}
\Delta_4 y_t = (1-L^4)y_t = y_t - y_{t-4}
\end{equation}

In [5]:
datos['S_y'] = datos.y.diff(4)

* Mostrar los resultados

In [6]:
datos

             y  Lag_y  Lag2_y  D_y  D2_y  S_y
trimestre
2018Q1      10    NaN     NaN  NaN   NaN  NaN
2018Q2      13   10.0     NaN  3.0   NaN  NaN
2018Q3      10   13.0    10.0 -3.0  -6.0  NaN
2018Q4       8   10.0    13.0 -2.0   1.0  NaN
2019Q1      15    8.0    10.0  7.0   9.0  5.0
2019Q2      16   15.0     8.0  1.0  -6.0  3.0
2019Q3      14   16.0    15.0 -2.0  -3.0  4.0
2019Q4      11   14.0    16.0 -3.0  -1.0  3.0

Nótese que a pesar de que la serie original está en números enteros, las demás están en floats (dependiendo de su versión de pandas). Esto se debe a que versiones de Pandas anteriores a la 1.0 no tienen un valor para datos faltantes (NaN) para números enteros.