In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn-talk')

# clean data as in previous example

meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
         'Julio', 'Agosto', 'Setiembre', 'Octubre', 'Noviembre', 'Diciembre']
mesescorto = [x[:3] for x in meses]
meses2 = {mes: i for i, mes in enumerate(meses, start=1)}

# Leer y limpiar datos
FILENAME = "datos/Datos-ARESEP-Pasajeros-por-aeropuerto.csv"
SJO = pd.read_csv(FILENAME)
SJO.query('Aeropuerto =="Aeropuerto Internacional Juan Santamaría"', inplace=True)
SJO.replace(meses2, None,inplace=True)
SJO.sort_values(['Año','Mes'], inplace=True)
SJO.index = pd.period_range(start=f"{SJO['Año'].iloc[0]}-{SJO['Mes'].iloc[0]}", periods=SJO.shape[0], freq='M')
SJO.drop(['Aeropuerto', 'Mes', 'Año', 'Cantidad En Tránsito', 'Cantidad Exentos','Total Pasajeros'], axis=1,inplace=True)
SJO.rename(columns={'Cantidad Nacionales':'nacionales', 'Cantidad Extrajeros':'extranjeros'}, inplace=True)

sjodatos = SJO/1000
sjodatos.index = pd.MultiIndex.from_arrays([sjodatos.index.year, sjodatos.index.month])
sjodatoscuadro = sjodatos.unstack()

In [2]:
sjodatoscuadro['extranjeros']

,1,2,3,4,5,6,7,8,9,10,11,12
2011,116.312,105.360,128.936,103.098,82.713,87.984,103.344,102.893,64.575,62.624,77.548,90.298
2012,115.773,108.062,130.949,106.010,82.235,89.148,105.916,105.745,67.775,60.425,79.305,92.365
2013,122.939,109.628,133.010,108.496,85.302,94.980,110.324,112.790,69.996,67.254,83.521,107.738
2014,132.326,120.936,146.267,111.881,93.133,96.394,111.423,116.790,71.728,67.279,85.296,104.898
2015,137.152,122.744,143.845,122.819,96.530,105.053,121.514,129.884,79.581,76.395,100.505,122.606
2016,149.212,141.814,161.254,131.984,108.096,113.257,134.607,138.666,84.513,83.165,102.438,124.247
2017,153.631,145.129,178.954,148.746,119.364,126.756,141.006,142.777,97.889,90.238,117.062,134.992
2018,165.691,161.065,189.397,161.284,127.450,134.066,148.868,155.950,100.333,93.870,120.440,140.736
2019,185.336,170.380,206.724,157.030,128.220,136.965,151.372,156.401,101.211,102.038,122.130,153.319