In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('data/LandD.csv', index_col=0, parse_dates=True)
y = datos['y']
datos

              y
trimestre
2018Q1       10
2018Q2       13
2018Q3       10
2018Q4        8
2019Q1       15
2019Q2       16
2019Q3       14
2019Q4       11

In [3]:
datos['L_y'] = y.shift(1)        # primer rezago
datos['L2_y'] = y.shift(2)       # segundo rezago
datos['D_y'] = y.diff()          # primera diferencia
datos['D2_y'] = y.diff().diff()  # segunda diferencia
datos['S_y'] = y.diff(4)         # diferencia estacional
datos

              y   L_y  L2_y  D_y  D2_y  S_y
trimestre
2018Q1       10   NaN   NaN  NaN   NaN  NaN
2018Q2       13  10.0   NaN  3.0   NaN  NaN
2018Q3       10  13.0  10.0 -3.0  -6.0  NaN
2018Q4        8  10.0  13.0 -2.0   1.0  NaN
2019Q1       15   8.0  10.0  7.0   9.0  5.0
2019Q2       16  15.0   8.0  1.0  -6.0  3.0
2019Q3       14  16.0  15.0 -2.0  -3.0  4.0
2019Q4       11  14.0  16.0 -3.0  -1.0  3.0