In [1]:
import pandas as pd

In [2]:
GITHUB_REPO = "https://raw.githubusercontent.com/randall-romero/econometria/master/data/"
DATAPATH = GITHUB_REPO if 'google.colab' in str(get_ipython()) else '../data/'

datos = pd.read_csv(DATAPATH + 'LandD.csv', index_col=0, parse_dates=True)
datos.columns

Index(['y'], dtype='object')

In [3]:
datos['Lag_y'] = datos['y'].shift(1)
datos['Lag2_y'] = datos['y'].shift(2)

In [4]:
datos['D_y'] = datos.y.diff()
datos['D2_y'] = datos.y.diff(1).diff(1)

In [5]:
datos['S_y'] = datos.y.diff(4)

In [6]:
datos

             y  Lag_y  Lag2_y  D_y  D2_y  S_y
trimestre
2018-01-01  10    NaN     NaN  NaN   NaN  NaN
2018-04-01  13   10.0     NaN  3.0   NaN  NaN
2018-07-01  10   13.0    10.0 -3.0  -6.0  NaN
2018-10-01   8   10.0    13.0 -2.0   1.0  NaN
2019-01-01  15    8.0    10.0  7.0   9.0  5.0
2019-04-01  16   15.0     8.0  1.0  -6.0  3.0
2019-07-01  14   16.0    15.0 -2.0  -3.0  4.0
2019-10-01  11   14.0    16.0 -3.0  -1.0  3.0